/*Common styles*/
:root {
  --primary-color: #2e2f42; /*Modal overlay, main color*/
  --secondary-color: #434455; /*Text, secondary color*/
  --accent-color: #4d5ae5; /*Primary Brand, accent color*/
  --focus-color: #ffffff; /*White focus, background*/
  --secondary-background-color: #e7e9fc; /*Accent, bgc of header*/
  --passive-background-color: #f4f4fd; /*Light, button bgc*/
  --active-background-color: #404bbf; /*Pressed state, active bgc*/
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--focus-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  /* height: auto; */
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
button:hover,
button:focus {
  border: 1px solid transparent;
  color: var(--focus-color);
  background-color: var(--active-background-color);
}
.button-filter .list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: var(--accent-color);
  color: var(--focus-color);
  border-radius: 4px;
  cursor: pointer;
}
button {
  /* display: block;
  min-width: 169px;
  height: 56px */
  /* cursor: pointer; */
  /* color: var(--accent-color); */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* display: inline-flex;
  align-items: flex-start; */

  /* padding: 356px 635px 188px 635px; */
  /* margin-bottom: 188px; */
}
.btn {
  padding: 12px 24px;
  border: 1px solid var(--secondary-background-color)
}
a:hover,
a:focus {
  color: var(--active-background-color);
}

.container {
  max-width: 1440px;
  /* padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; */
}

/*Common styles*/

/* Header styles*/
/* .page-header .container  */
.page-header {
  display: flex;
  justify-content: space-between;
  padding-left: 156px;
  border-bottom: 1px solid var(--secondary-background-color);
}
.container .page-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}
/* .container page-header {
 display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  padding-left: 156px;
} */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .list {
  display: flex;
  gap: 24px;
}
.menu {
  display: flex;
  gap: 40px;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 76px;
}
.logo-second-part {
  color: var(--primary-color);
}
.menu .menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--primary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--active-background-color);
}
.contact {
  display: flex;
  gap: 40px;
  font-style: normal;
}
 /* .contact-info {
  display: flex;
  font-style: normal;
  gap: 40px;
  
}  */
.contact .contact-list-link {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

/* .contact-list-link {
  display: flex;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  
  
} */
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--active-background-color);
}

/* Header styles*/

/*Main page styles*/
/* .container .order-service {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
} */
.order-service {
  background-color: var(--primary-color);
  padding: 188px 0;
}
.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--focus-color);
  text-align: center;
  padding-top: 188px;
}

.main-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-content-list {
  display: flex;
  flex-direction: wrap;
  align-items: flex-start;
  gap: 24px;
  padding: 120px 156px;
}
.main-content-list .list-item {
  width: calc((100% - 72px) / 4);
}
.list-item-heading {
  margin-bottom: 8px;
}
/* .main-content-list list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
} */
.list-item-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.list-item {
  background-color: #ffffff;
}
.secondary-contant {
  padding-bottom: 120px;
  /* display: flex; */
}
.secondary-contant-list {
  display: flex;
  flex-direction: wrap;
  /* align-items: flex-start; */
  gap: 24px;
}
.secondary-contant-list .list-item {
  width: calc((100%-48px) / 3);
}
.secondary-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 72px;
  padding-top: 120px;
}
.our-team {
  padding: 120px 0;
  background-color: var(--passive-background-color);
}
.our-team-list {
  display: flex;
  flex-direction: wrap;
  /* align-items: flex-start; */
  gap: 24px;
}
.our-team-list .list-item {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.about-member .list-item-heading {
  text-align: center;
  margin-bottom: 8px;
}
.about-member .list-item-description {
  text-align: center;
  padding-top: 8px;
}
.container .about-member {
  padding: 32px 0;
}
/* .about-member .list-item-heading {
  text-align: center;
  margin-bottom: 8px
} */
/*Main page styles*/
.section-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1.2;
}
.section-text {
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 1.5;
}
/*Portfolio styles*/
.portfolio-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.all-blocks-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list .block {
  calc((100% - 48px) / 3);
}
.container-about {
  padding: 32px 16px;
  border: 1px solid var(--secondary-background-color);
  border-top: none;
  margin-bottom: 8px;
}
.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.block-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.block-line {
   width: calc((100% - 48px) / 3); 
}
. width: calc((100% - 48px) / 3); 
/*Portfolio styles*/

/*Footer styles*/
.container .footer {
  display: flex;
  align-items: center;
}
.footer {
  padding: 100px 0;
  background-color: var(--primary-color);
}
.footer-logo .link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}
.footer-logo-second-part {
  color: var(--passive-background-color);
}
.footer-description {
  line-height: 1.5;
  color: var(--passive-background-color);
  letter-spacing: 0.02em;
}
/*Footer styles*/
